<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.je.index.dao.IndexDao">

	<select id="getString" resultType="string">
		select '4445' t from user
	</select>

</mapper>
